__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.benv/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log
database/
instance/
.webassets-cache
.coverage
htmlcov/
.pytest_cache/
.idea/
.vscode/
*.swp
.DS_Store
